name: Build

on:
  push:
    branches-ignore:
      - "main"
  pull_request:
    branches:
      - main

defaults:
  run:
    shell: bash

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        include:
          - os: ubuntu-latest
            image: ghcr.io/pobie/ubuntu-vulkan-cpp-dev:latest
          - os: macos-latest
            brewDeps: "ninja llvm cppcheck"
          - os: windows-latest
            chocoDeps: "ninja cppcheck"

    runs-on: ${{ matrix.os }}
    container:
      image: ${{ matrix.image }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Build on Ubuntu
        if: matrix.os == 'ubuntu-latest'
        env:
          PROJECT_SCRIPT_SHORTCUTS: ${{ github.workspace }}/bin/tinker
        uses: ./.github/actions/build-action/linux

      - name: Build on macOS
        if: matrix.os == 'macos-latest'
        env:
          PROJECT_SCRIPT_SHORTCUTS: ${{ github.workspace }}/bin/tinker
        uses: ./.github/actions/build-action/macos
        with:
          brewDeps: ${{ matrix.brewDeps }}

      - name: Build on Windows
        if: matrix.os == 'windows-latest'
        env:
          PROJECT_SCRIPT_SHORTCUTS: ${{ github.workspace }}\bin\tinker
        uses: ./.github/actions/build-action/windows
        with:
          chocoDeps: ${{ matrix.chocoDeps }}
