name: Build and Deploy

on:
  push:
    branches: ["main"]

env:
  PROJECT_SCRIPT_SHORTCUTS: ${{ github.workspace }}/bin/tinker

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/pobie/ubuntu-vulkan-cpp-dev:latest

    steps:
      - uses: actions/checkout@v3

      - name: Set reusable strings
        id: strings
        run: |
          echo "BUILD_OUTPUT_DIR=${{ github.workspace }}/build" >> "$GITHUB_ENV"
          echo "DISTRIBUTION_DIR=$GITHUB_WORKSPACE/deploy" >> "$GITHUB_ENV"

      - name: Run CMake consuming CMakePreset.json and run vcpkg to build dependencies
        uses: lukka/run-cmake@v10
        with:
          configurePreset: "release"
          buildPreset: "release"

      - name: Test
        working-directory: ${{ env.BUILD_OUTPUT_DIR }}
        run: $PROJECT_SCRIPT_SHORTCUTS test

      - name: Lint
        working-directory: ${{ env.BUILD_OUTPUT_DIR }}
        run: $PROJECT_SCRIPT_SHORTCUTS lint

      - name: Validate
        run: $PROJECT_SCRIPT_SHORTCUTS validate

      - name: Install Library for Deployment
        run: |
          cmake --install $GITHUB_WORKSPACE/build/release --prefix ${{ env.DISTRIBUTION_DIR }}

      - name: Deploy Library
        uses: actions/upload-artifact@v3
        with:
          name: tinker-core-linux
          path: ${{ env.DISTRIBUTION_DIR }}
